$backgroud-purple: #25233B;
$backgroud-light-purple: #393359;

$black: #080611;
$gray: #353847;
$white: #FFFFFF;

$light-blue: #3DACA4;
$dark-blue: #1730E5;

$yellow: #FCA726;
$light-yellow: #FEDA6E;

$red: #FB1B30;
$dark-red: #B23041;

$pink: #EA17B1;

$selected-collor: #33363F;

$font: 'Montserrat', sans-serif;