@import "../../globa.var.scss";

@media only screen and (min-width: 1024px) { 
  .icon-parent {

    .selected {
      border-left: solid 2px $selected-collor;
      transition: 500ms;
    }
    
    .icon {
      width: 4.4vw;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      transition: 0.5s;
      
      &:hover{
        transition: 500ms;
        scale: 1.2;
        cursor: pointer;
      }
  
      &:not(:hover) {
        transition: 400ms;
      }
    }
  
  }
}

@media only screen and (max-width: 920px ){ 
  .icon-parent {

    .icon {
      min-width: 11vw;
      max-width: 11vw;
    }

    #contact {
      scale: 1.2
    }
  }
}

